<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, '')}">
<body>
<div class="row">
    <div class="col-6">
        <form th:object="${car}" method="post" th:action="@{/cars/edit}">
            <div class="form-group">
                <label for="codeCar">Code</label>
                <input th:field="*{code}" readonly type="text" class="form-control" id="codeCar"
                       aria-describedby="codeCarHelp">
            </div>
            <div class="form-group">
                <label for="nameCar">Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="nameCar" aria-describedby="nameCarHelp">
            </div>
            <div class="form-group">
                <label for="serialNumberCar">Serial Number</label>
                <input th:field="*{serialNumber}" type="text" class="form-control" id="serialNumberCar">
            </div>
            <input type="hidden" th:field="*{version}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

</body>
</html>